.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  z-index: 100000;
  pointer-events: all;
}

.loader .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--base-100);
}

.loader .block {
  width: 100%;
  height: 100%;
  background: var(--base-500);
}

.loader .intro-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.5rem;
}

.loader #word-1 {
  position: relative;
  /* left: 0rem; */
  left: 0.5rem;
  padding-right: 0.25rem;
  color: var(--base-400);
}

.loader #word-2 {
  position: relative;
  left: 0.5rem;
  padding-right: 0.4rem;
  color: var(--base-400);
}

.loader .word h1 {
  font-size: 2rem;
  color: var(--base-400);
  letter-spacing: -0.05rem;
}

.loader .word {
  clip-path: polygon(0 0, 100% 0, 100% 120%, 0% 120%);
}

.loader #word-1 h1 {
  transform: translateY(-120%);
}

.loader #word-2 h1 {
  transform: translateY(120%);
}

.loader .block {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}