/* Hide children until animation is ready */
[data-split-hidden="true"]>* {
  visibility: hidden;
}

.line {
  position: relative;
  transform: translateY(100%);
  will-change: transform;
  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
}