.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
}

.top-bar .btn {
  width: 10rem;
}

.top-bar .top-bar-logo {
  width: 3rem;
}

.top-bar .top-bar-logo img {
  will-change: transform;
}

@media (max-width: 1000px) {
  .top-bar {
    padding: 0.5rem 1.5rem;
  }
}

/* Mobile: 0 - 767px */
@media (max-width: 767px) {
  .top-bar .top-bar-logo {
    width: 2.5rem;
    height: 2.5rem;
  }

  .top-bar .top-bar-logo img {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
}